VITE_SUPABASE_URL=https://sazvprhucjhgajaspoav.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNhenZwcmh1Y2poZ2FqYXNwb2F2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NzIwNjcsImV4cCI6MjA5NTA0ODA2N30.e8WEIU8nmscE8o0Tu5zCL7oOP5-VeFwgPvnDljxuCWE